body {
  background-color: #2d3436;
}
.titre {
  color: #ebc805;
  height: 45px;
  padding-left: 20px;
  line-height: 45px;
  font-size: 16px;
  margin: 0;
}
.image {
  width: 100%;
}
.titre1 {
  box-sizing: border-box;
  font-size: 16px;
  text-align: center;
  color: #ebc805;
  font-weight: bold;
  padding-top: 2%;
}
.text {
  box-sizing: border-box;
  font-size: 16px;
  color: rgb(211, 211, 211);
}
a {
  color: #ebc805;
  text-decoration: none;
}
